recursive-include catnip *.py
recursive-include catnip_rs *.rs *.toml *.js *.json *.c *.h *.py
include README.md LICENSE Cargo.toml
graft tests
graft docs
recursive-include proof *.v
include proof/Makefile.coq proof/Makefile.coq.conf proof/_CoqProject
prune tests/serial/jit/.pytest_cache
global-exclude __pycache__
global-exclude *.pyc
